*{
    margin: 0px auto;
    box-sizing: border-box;
}
.cards-info{
    padding: 120px 0px;
    display: flex;
}
.frist-card,
.second-card,
.third-card{
    margin-right: 50px;
}
.padding-l{
     margin-left: 70px;
}
.padding-r{
    margin-left: 80px;
}
.padding-x{
    margin-left: 85px;

}
.box-price{
    padding-top: 10px;
    width: 60px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.card-img-top{
    transition: .5s ease;
}
.card:hover .card-img-top{
 opacity: 0.5;
}
.middle{
     padding: 16px 32px;
     position: absolute;
     left: 29%;
     top: 24%;
     color:white;
     font-weight: 700;
     opacity: 0;
   border-radius: 20px;  
   background-color: rgb(20, 19, 19);
     transition: .5s ease;
}
.card:hover .middle{
    opacity: 1; 
}